
<div><h3 style="text-align: center; background-color: transparent">
    Search Results
  </h3>
<section class="intro">
    <div class="bg-image h-100" style="background-color: #6095F0;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                            <div class="card-body">
                                <label>Outgoing</label>
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                
                                                <th colspan ='2' scope="col">Origin</th>
                                                <th colspan ='2' scope="col">Destination</th>
                                                <th scope="col">Departure</th>
                                                <th scope="col">Arrival</th>
                                                <th scope="col">Price</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0;i<toFlights.length;i++) {%>
                                                <tr>
                                                    
                                                    <td colspan ='2'>
                                                        <%=toFlights[i].origin.country%>,<br><%=toFlights[i].origin.city%>,<br>
                                                                <%=toFlights[i].origin.airport%>
                                                    </td>
                                                    <td colspan ='2'>
                                                        <%=toFlights[i].destination.country%>,<br>
                                                            <%=toFlights[i].destination.city%>,<br>
                                                                <%=toFlights[i].destination.airport%>
                                                    </td>
                                                    <td>
                                                        <%=toFlights[i].departure%>
                                                    </td>
                                                    <td>
                                                        <%=toFlights[i].arrival%>
                                                    </td>
                                                    <td>
                                                        <%=toFlights[i].price%>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-success" onclick="addOutboundToCart('<%= toFlights[i]._id %>')">Choose</button>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="intro">
    <div class="bg-image h-100" style="background-color: #6095F0;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                            <div class="card-body">
                                <label>Inbound</label>
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan ='2' scope="col">Origin</th>
                                                <th colspan ='2'scope="col">Destination</th>
                                                <th scope="col">Departure</th>
                                                <th scope="col">Arrival</th>
                                                <th scope="col">Price</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0;i<returnFlights.length;i++) {%>
                                                <tr>
                                                    <td colspan ='2'>
                                                        <%=returnFlights[i].origin.country%>,<br>
                                                            <%=returnFlights[i].origin.city%>,<br>
                                                                <%=returnFlights[i].origin.airport%>
                                                    </td>
                                                    <td colspan ='2'>
                                                        <%=returnFlights[i].destination.country%>,<br>
                                                            <%=returnFlights[i].destination.city%>,<br>
                                                                <%=returnFlights[i].destination.airport%>
                                                    </td>
                                                    <td>
                                                        <%=returnFlights[i].departure%>
                                                    </td>
                                                    <td>
                                                        <%=returnFlights[i].arrival%>
                                                    </td>
                                                    <td>
                                                        <%=returnFlights[i].price%>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-success" onclick="addInboundToCart('<%= returnFlights[i]._id %>')">Choose</button>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section></div>